<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/rootApplicationContext.xml, /WEB-INF/blankContext.xml</param-value>
<!-- In any case, only one context is defined, by combining all the bean definitions loaded from the specified locations -->
    </context-param>
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfiguration</param-name>
        <param-value>
            com.epam.contexts.first.web.application.config.FirstWebAppConfig,
            com.epam.contexts.config.RootApplicationConfig
        </param-value>
    </context-param>

<!--    Servlets        -->
    <servlet>
        <servlet-name>first-webapp</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/firstWebappServletContextConfiguration.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>first-webapp</servlet-name>
        <url-pattern>/1/*</url-pattern>
    </servlet-mapping>



</web-app>